groupName: acme.kle.li

secretName: cert-manager-webhook-cloudns-v2-api-secret
replicaCount: 1

clouDNS:
  credentialsDir: "/creds"

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: gapodo/cert-manager-webhook-cloudns-v2
  tag: 2.0.0
  pullPolicy: IfNotPresent

nameOverride: "webhook-cloudns-v2"
fullnameOverride: "cert-manager-webhook-cloudns-v2"

service:
  type: ClusterIP
  port: 443

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
